<div class="card" style="background-color: #ff000000; height: 100vh; width: 100%;">
    <div class="card-header text-center" style="background-color: #938585;">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link brand" style=" font-style: normal; color: black;">{{ title }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/calc']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}">Calc</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/store']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}">Store</a>
            </li>
        </ul>
    </div>
    <div class="card-body" style="background-color: #9385854f; width: 100%;">
        <router-outlet></router-outlet>
    </div>
</div>
